.contact-title{
    text-align: center;
    font-weight: bold;
    color:rgba(185, 182, 182, 0.702) ;
}

.contact-form input{
    width: 100%;
    border: 2px solid rgb(199, 194, 194);
    padding: 10px 5px;
    border-radius: 5px;

}

.contact-item{
    margin-top: 100px;
}

.contact-form .label{
    font-weight: bold;
    font-size: 20px;
}

.contact-form textarea{
    width: 100%;
    border: 2px solid rgb(199, 194, 194);
    padding: 10px 5px;
    border-radius: 5px;

}

.submit-btn{
  color:#fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}