.banner .img{
    position: relative;
}


.p-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(185, 182, 182, 0.702);
    
  
    
}
.p-main .p-title{
    position: relative;
}

.p-text {
    text-align: center;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-weight: bold;
}

